body {
    background-color: slategray;
}

.button1:hover {
    cursor: grab;
}

.button1 {
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-right: 10px; */
    padding-left: 10px;
    border-style: solid;
}

button:hover {

    cursor: grabbing;
}

input:checked {
    border: none;
    outline: 2px solid DodgerBlue;
}


li:first-child {
    color:cornflowerblue;
}

li:nth-last-child(1) {
    color:azure
}

li:nth-child(2n) { /*(3n-1) - where index (position?) is a multiple of 3, minus one*/
    color:darkmagenta;
}

a:link {
    color: skyblue;
    background-color: navy;
    text-decoration: none;
}

a:visited {
    color: darkorange;
    background-color: darkgoldenrod;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}